body {
    font-family: Arial, sans-serif;
    background-color: #50affd;
}

.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background: #0078d7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056a6;
}

#output {
    margin-top: 20px;
}

.Clouds{
    background-color: aliceblue;
    width: 2cm;
    height: 2cm;
    border-radius: 2rem;
    border: black 2px ;
   margin-left: 2cm;
}

.Clouds:hover{
 

}

form{
    background: transparent;
}